

<div id='card' class="card shadow center" style="margin-top: 100px;">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-6">
        <a routerLink="en" class="btn mb-2"><img src="assets/img/en.png" alt="en" style="max-width: 80px;">
          <strong>English</strong></a>
      </div>
      <div class="col-md-6">
        <a routerLink="pt" class="btn mb-2"><img src="assets/img/br.png" alt="pt" style="max-width: 80px;">
          <strong>Português</strong></a>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
